// Gradient name: flare
$color-primary: #e62a15;
$color-grad-1: #f5af19;
$color-grad-2: #f12711;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-light-4: #e7e5e4;
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

@mixin gradient-background-text {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1.3rem 2rem;
  background-image: linear-gradient(
    to right bottom,
    $color-grad-1,
    $color-grad-2
  );
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-1;
  background-image: $gradient;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

.container-home {
  max-width: 120rem;
  min-height: 117rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-grey-dark-1, 0.2);

  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'head head'
    'list recipe';

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.container-pages {
  max-width: 120rem;
  min-height: 100rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-grey-dark-1, 0.2);

  display: grid;
  grid-template-rows: 10rem minmax(75rem, auto);
  // grid-template-rows: 10rem 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    'head'
    'main';

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.section {
  padding: 5rem 8rem 0rem 8rem;
  // overflow: auto;
  margin-bottom: 6rem;
  text-align: center;

  &__title {
    margin-bottom: 2rem;
    &::after,
    &::before {
      content: '';
      display: inline-block;
      width: 35%;
      height: 1px;
      background-color: $color-grey-light-3;
      transform: translateY(1.5rem);
    }

    &::before {
      float: left;
    }

    &::after {
      float: right;
    }

    @media only screen and (max-width: $bp-medium) {
      &::after,
      &::before {
        width: 0%;
      }
    }
  }
  &__list {
    display: grid;
    justify-items: center;
  }

  &__planner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    // height: fit-content;
  }
}
